<nav class="navbar bg-base-100 shadow-lg">
    <div class="container mx-auto">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">MyWebsite</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a href="/">Home</a></li>
                <li><a href="{{ site.baseurl }}/pages/about.html">About</a></li>
                <li><a href="{{ site.baseurl }}/pages/camera.html">Camera</a></li>
                <li><a href="{{ site.baseurl }}/pages/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
