<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/favicon.ico">
    <title></title>
    <!-- CSS Files -->
    <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet" />
 </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
  </body>
</html>